$pure-black:#000000;
$ebony:#080402;
$crow:#0D0907;
$charcoal:#28231D;
$midnight:#040406;
$ink:#070504;
$raven:#050301;
$oil:#050100;
$grease:#0A0806;
$onyx:#030104;
$pitch:#030001;
$soot:#160D08;
$sable:#060606;
$jet-black:#030303;
$coal:#0C0908;
$metal:#0E0C0A;
$obsidian:#020403;
$jade:#000302;
$spider:#040200;
$leather:#0B0705;

.pure-black {
color:$pure-black;
}
.pure-black_bg {
background-color:$pure-black;
}

.ebony {
color:$ebony;
}
.ebony_bg {
background-color:$ebony;
}

.crow {
color:$crow;
}
.crow_bg {
background-color:$crow;
}

.charcoal {
color:$charcoal;
}
.charcoal_bg {
background-color:$charcoal;
}

.midnight {
color:$midnight;
}
.midnight_bg {
background-color:$midnight;
}

.ink {
color:$ink;
}
.ink_bg{
background-color:$ink
}

.raven {
color:$raven;
}
.raven_bg {
background-color:$raven;
}

.oil {
color:$oil
}
.oil_bg{
background-color:$oil;
}

.grease {
color:$grease;
}
.grease_bg {
background-color:$grease;
}

.onyx {
color:$onyx;
}
.onyx_bg {
background-color:$onyx;
}

.pitch {
color:$pitch;
}
.pitch_bg {
background-color:$pitch;
}

.soot {
color:$soot;
}
.soot_bg {
background-color:$soot;
}

.sable {
color:$sable;
}
.sable_bg {
background-color:$sable;
}

.jet-black {
color:$jet-black;
}
.jet-black_bg {
background-color:$jet-black;
}

.coal {
color:$coal;
}
.coal_bg {
background-color:$coal;
}

.metal {
color:$metal;
}
.metal_bg {
background-color:$metal;
}

.obsidian {
color:$obsidian;
}
.obsidian_bg {
background-color:$obsidian;
}

.jade {
color:$jade;
}
.jade_bg {
background-color:$jade;
}

.spider {
color:$spider;
}
.spider_bg {

}

.leather {
color:$leather;
}
.leather_bg {

}
